.subscribe-button {
    background-color: rgb(194, 16, 16);
    color: white;
    border: none;
    height: 30px;
    width: 105px;
    border-radius: 2px;
    cursor: pointer;
    margin-right: 8px;
}

.subscribe-button:hover {
    opacity: 0.7;
}

.subscribe-button:active {
    opacity: 0.5;
}

.join-button {
    background-color: white;
    border-color: rgb(10, 67, 223);
    border-style: solid;
    border-width: 1px;
    color: rgb(10, 67, 223);;
    height: 30px;
    width: 60px;
    border-radius: 2px;
    cursor: pointer;
}

.join-button:hover {
    background-color: rgb(14, 14, 185);
    color: white;
}

.join-button:active {
    opacity: 0.5;
}

.tweet-button {
    background-color: rgb(56, 134, 252);
    color: white;
    border: none;
    height: 30px;
    width: 70px;
    border-radius: 18px;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    margin-left: 8px;
}

.tweet-button:hover {
    background-color: rgb(106, 161, 245);
    color: rgb(35, 51, 201);
}

.tweet-button:active {
    opacity: 0.5;
}